pycache/
*.py[cod]
*$py.class

venv/
.env/
env/

.idea/
.vscode/

# Логи
*.log

*.tmp
*.temp
*.swp

.ipynb_checkpoints/

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

build/
dist/
*.egg-info/
*.egg